wfiplib/Connected Services/EnviaCorreos/ServicioCorreo1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TestCorreo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pPuerto" type="xs:int" />
        <xs:element minOccurs="0" name="pUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pDestino" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pAsusnto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pContenido" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestCorreoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestCorreoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesaCorreo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCorreo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesaCorreoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcesaCorreoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesarCorreo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="para" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="de" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="titulo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesarCorreoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcesarCorreoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>