wfiplib/Connected Services/EnviaCorreos/ServicioCorreo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioCorreo" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://200.23.87.202:85/ServicioCorreo.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://200.23.87.202:85/ServicioCorreo.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioCorreo_TestCorreo_InputMessage">
    <wsdl:part name="parameters" element="tns:TestCorreo" />
  </wsdl:message>
  <wsdl:message name="IServicioCorreo_TestCorreo_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestCorreoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCorreo_ProcesaCorreo_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcesaCorreo" />
  </wsdl:message>
  <wsdl:message name="IServicioCorreo_ProcesaCorreo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcesaCorreoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCorreo_ProcesarCorreo_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcesarCorreo" />
  </wsdl:message>
  <wsdl:message name="IServicioCorreo_ProcesarCorreo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcesarCorreoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioCorreo">
    <wsdl:operation name="TestCorreo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCorreo/TestCorreo" message="tns:IServicioCorreo_TestCorreo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCorreo/TestCorreoResponse" message="tns:IServicioCorreo_TestCorreo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcesaCorreo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCorreo/ProcesaCorreo" message="tns:IServicioCorreo_ProcesaCorreo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCorreo/ProcesaCorreoResponse" message="tns:IServicioCorreo_ProcesaCorreo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcesarCorreo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCorreo/ProcesarCorreo" message="tns:IServicioCorreo_ProcesarCorreo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCorreo/ProcesarCorreoResponse" message="tns:IServicioCorreo_ProcesarCorreo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioCorreo" type="tns:IServicioCorreo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestCorreo">
      <soap:operation soapAction="http://tempuri.org/IServicioCorreo/TestCorreo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcesaCorreo">
      <soap:operation soapAction="http://tempuri.org/IServicioCorreo/ProcesaCorreo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcesarCorreo">
      <soap:operation soapAction="http://tempuri.org/IServicioCorreo/ProcesarCorreo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioCorreo">
    <wsdl:port name="BasicHttpBinding_IServicioCorreo" binding="tns:BasicHttpBinding_IServicioCorreo">
      <soap:address location="http://200.23.87.202:85/ServicioCorreo.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>